<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css }" rel="stylesheet" >

    <link href="/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{/bar/bar::topbar}"></div>
<div class="container-fluid ">
<div class="row">
<div th:replace="~{/bar/bar::left(activeurl='students')}"></div>

<div role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <form th:action="@{/student}" method="post">
        <input type="hidden" name="_method" value="put" th:if="${student!=null}">
        <input type="hidden" name="id" th:if="${student!=null}" th:value="${student.id}">
        <div class="form-group" >
            <h1>11111111</h1>
            <label >学生学号:</label>
            <input name="user.no" type="text" class="form-control" id="name" placeholder="学生学号" th:value="${student!=null}?${student.user.id}">
        </div>
        <div class="form-group">
            <label >学生姓名:</label>
            <input name="user.name" type="text" class="form-control" id="no" placeholder="学生姓名" th:value="${student!=null}?${student.user.name}">
        </div>
        <div class="form-group">
            <label >选课1:</label>
            <input name="lessonOne" type="text" class="form-control" id="password" placeholder="课程1" th:value="${student!=null}?${student.lessonOne}">
        </div>
        <div class="form-group">
            <label >选课2:</label>
            <input name="lessonTwo" type="text" class="form-control" id="exampleFormControlInput" placeholder="课程2" th:value="${student!=null}?${student.lessonTwo}">
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" th:src="@{/js/jquery-slim.min.js}" ></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js" th:src="@{/js/jquery-slim.min.js}"><\/script>')</script>
<script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js" th:src="@{/webjars/feather-icons/4.10.0/dist/feather.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js" th:src="@{/webjars/chart.js/2.7.3/dist/Chart.js}"></script>
<script src="dashboard.js" th:src="@{/js/dashboard.js}"></script>
</body>
</html>